
.tp_authorDate{
    
    max-width: fit-content;
    font-size: small;
}

.ownAuthorDate{
    margin-left: 64%;
    max-width: fit-content;
    font-size: small;
}

.ownComment{
    margin-left: 30%;
    background-color: rgba(172, 211, 223,0.6);
    padding: 2%;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
}

.tp_comment{
    background-color: rgba(206, 212, 218, 0.5) ;
    padding: 2%;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
}
