.ownAD{
    justify-content: right;
}

.tp_AD{
    justify-content: left;
}

.ownAuthorDate{
    font-size: small;
    text-align: right;
}

.tp_authorDate{
    font-size: small;
    text-align: left;
}


.ownComment{
    margin-left: 30%;
    background-color: rgba(172, 211, 223,0.6);
    padding: 2%;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
}

.tp_comment{
    background-color: rgba(206, 212, 218, 0.5) ;
    padding: 2%;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
}

.commentStyle{
    white-space: pre;
    text-rendering: auto;
}

.modalTitle{
    margin: 0;
    text-align: center;
}

.footer{
    display: block;
    text-align: right;
}
