.title {
    text-align: center !important;
    align-items: center !important;
    margin: 1rem !important;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.Search {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: auto;
    /* margin: 0.5rem !important;
    padding: 1rem;
    border: none;
    border-radius: 10px; */
}