.title {
    text-align: center !important;
    align-items: center !important;
    margin: 1rem !important;
    padding: 1rem;
    border: none;
    border-radius: 10px;  
}

#light .title{
    background-color: #0d6efd;
    color: black
}

#dark .title{
    background-color: #212529;
    color: white;
}

.search{
    margin: 0px !important;   
}

