.box{
    justify-content: center;
    align-items: center;
    
    display: grid;
    place-items: center;
    width: 100vw;
    padding: 1rem;
}

.workspaceItem{
    background-color: rgb(156, 240, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 80vw;
    margin: 1rem;
}